<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdqn.dao.MenuMapper">
    <!-- 查询所有菜单列表 -->
    <select id="findMenuList" resultType="com.bdqn.entity.Menu">
        select * from sys_menu
    </select>
    <select id="findMenuIdListByRoleId" resultType="int">
        select mid from sys_role_menu where rid =#{roleId}
    </select>
    <select id="findMenuByMenuId" resultType="com.bdqn.entity.Menu">
        select * from sys_menu where id in
        <foreach collection="list" item="menuIds" open="(" separator="," close=")">
            #{menuIds}
        </foreach>
    </select>
</mapper>
